{% load static%}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/gallery.css' %}"type="text/css"></link>
<link rel="shortcut icon" href="heart.png" type="img/jpg">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <title>Gallery</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="news">News</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Main
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="file:///C:/Users/Admin/Desktop/djangoproject/blog/templates/blog/merch.html">merch</a>
              <a class="dropdown-item" href="https://www.playstation.com/en-us/games/undertale-ps4/">chat</a>
              <a class="dropdown-item" href="#">news</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="card-group">
  <div class="card">
    <iframe width="400" height="300" src="https://www.youtube.com/embed/63IP21IZXOA"></iframe>

    <div class="card-body">
      <h5 class="card-title">Eugene Sagaz</h5>
      <p class="card-text">Eugene Sagaz – молодой и перспективный видеоблогер-летсплейщик.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
  <iframe width="400" height="300" src="https://www.youtube.com/embed/4vzL7vBlN4g"></iframe>
    <div class="card-body">
      <h5 class="card-title">Letsplay</h5>
      <p class="card-text">Снимает разные игровые ролики-летсплеи.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
      <iframe width="400" height="300" src="https://www.youtube.com/embed/gM8lFAwKBds"></iframe>
    <div class="card-body">
      <h5 class="card-title">Undertale</h5>
      <p class="card-text">Но самая его любимая игра это Undertale.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
      </div>
      <div class="row">


      </div>
    </div>


    <!-- Footer -->
    <footer class="page-footer font-small mdb-color lighten-3 pt-4">

      <!-- Footer Elements -->
      <div class="container">

        <!--Grid row-->
        <div class="row">

          <!--Grid column-->
          <div class="col-lg-2 col-md-12 mb-4">

            <!--Image-->
            <div class="view overlay z-depth-1-half">
              <img src="{% static "images/hm.gif" %}" class="img-fluid" alt="">
              <a href="">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4">

            <!--Image-->
            <div class="view overlay z-depth-1-half">
              <img src="{% static "images/chara.gif" %}" class="img-fluid" alt="">
              <a href="">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4">

            <!--Image-->
            <div class="view overlay z-depth-1-half">
              <img src="{% static "images/флауи.gif" %}" class="img-fluid" alt="">
              <a href="gfgg">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-12 mb-4">

            <!--Image-->
            <div class="view overlay z-depth-1-half">
              <img src="{% static "images/sans.gif" %}" class="img-fluid" alt="">
              <a href="">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4">

            <!--Image-->
            <div class="view overlay z-depth-1-half">
              <img src="{% static "images/печалька.gif" %}" class="img-fluid" alt="">
              <a href="">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4">

            <!--Image-->
            <div class="view overlay z-depth-1-half">
              <img src="{% static "images/skeletons.gif" %}" class="img-fluid" alt="">
              <a href="">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
      <!-- Footer Elements -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> Undertale.com</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->



      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0Ugly
  </body>
  </html>
